@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

/* global style */
.title > h2{
  text-align: center;
font-size: 3rem;
font-weight: 600;
color: #333;
text-transform: uppercase;
/* border-bottom: 3px solid #57c6a1; */
}
.title > h2:after{
  position: absolute;
content: '';
width: 200px;
height: 3px;
background: #57c6a1;
left: 50%;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}

/*Top mail and Mobile  top header*/


.top_wrapper {
  background: #333;
}
.top_wrapper a{
  padding-bottom: 3px;
  padding-right: 5px;
  font-weight: 300;
  line-height: 38px;
  font-size: 14px;
}
.mobile{
  color: #fff;
  margin: 0 20px;
}
.mail{
  color: #fff;
}
.mobile > a {
  margin-bottom: 5px;
  color: #fff;
}

.mail > a {
  margin-bottom: 5px;
  color: #fff;
}

/*Top mail and Mobile */

/* navnar css Start */





.custom_nav_css>ul>li {
  padding: 0 15px;
}


.custom_nav_css>div>ul>li {
  padding: 0 1rem;
}

.custom_nav_css>div>ul>li>a {
  font-size: 1.1rem;
  color: #16181b;
  font-weight: 500;
}

.custom_nav_css>div>ul>li>div>div>div>div>ul>li {
  padding: 15px 0;
}

.custom_nav_css>div>ul>li>div>div>div>div>ul>li>a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
}

/* contact us Css */

.contact_us {
  background-color: #57c6a1;
  color: #000;
  border-radius: 50px;

}

.contact_us i {}


/* navnar css End */


.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
  cursor: pointer;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

@media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5em;
    vertical-align: 0;
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
    border-left: .3em solid;
  }
}

/* Carousel css */
.carousel-inner .item {
  /*   max-height: 680px; */
  height: 100vh;
  background: url('../images/banner/bg1.jpg') no-repeat center top;
  background-size: cover;
}

.carousel-inner .item:nth-child(2) {
  background-image: url('../images/banner/bg2.jpg');
}

.carousel-inner .item:nth-child(3) {
  background-image: url('../images/banner/bg3.jpg');
}

.carousel-inner .item:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel-control {
  width: 10%;
}

.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .fa.fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left {
    margin-left: -15px;
  }

  .view img {
    display: block;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translate(-50%, 0%);
    width: auto;
  }
}


/* carousel css */
.carousel-fade .carousel-item {
  height: 40vW;
  width: 100vw;
  background: black;
  overflow: hidden;
}

.carousel-fade .carousel-item>div>img {
  object-fit: cover;
  opacity: 0.4;
  height: 100%;
}

.carousel-caption {
  top: 18%;
}

/* carousel css */

/* all heading Style css */
.all_heading_style {}

.all_heading_style>h2 {
  text-align: center;
  padding: 60px 0;
}

.all_heading_style>h2>strong {
  font-size: 2.25rem;
  color: #2e2f33;
  text-transform: uppercase;

}

/* all heading Style css End */

/* what_we_do */
.what_we_do_full_wrapper {
  background-color: #f3f3f3;
}

.what_we_do {
  margin: 50px 0;

}

.what_we_do>div {
  transition: all 0.2s ease;
  height: 400px;
  cursor: pointer;
  display: grid;
  align-content: space-between;
  justify-items: center;
  border-bottom: 4px solid #f05a23;
  border-left: 10px solid #f05a2300;
  border-right: 10px solid #f05a2300;
  margin: 30px 0 0 0;
  box-sizing: border-box;
  padding: 0 5px;

}

.what_we_do>div:hover {
  box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
  border-bottom: 4px solid #57c6a1;
}

.what_we_do>div {
  color: #16181b;
  text-align: center;
}

.what_we_do>div>h5 {
  color: #000000FF;
  padding-top: 20px;
  font-size: 22px;

}

.what_we_do>div:hover h5 {
  color: #57c6a1;
}

.what_we_do>div>p {
  text-align: justify;
  color: #16181b;
  font-weight: 400;
  padding: 10px 0;
}

.what_we_do>div>a {
  text-align: center;
  color: #f05a23;
  font-size: 30px;
}

.what_we_do>div:hover a {
  color: #57c6a1;
}



/* what we do end */

/* SANDWICH BUTTON */

.sandwich-btn {
  width: 46px;
  height: 46px;
  cursor: pointer;
  display: grid;
  float: right;
  position: relative;
  display: none;
}

.sandwich-btn {
  width: 46px;
  height: 46px;
  float: right;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 50%;
  display: none;
}

.sandwich-btn span {
  display: block;
  height: 2px;
  width: 22px;
  background: #405089;
  opacity: 1;
  position: absolute;
  right: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sandwich-btn span:nth-child(1) {
  top: 15px;
}

.sandwich-btn span:nth-child(2) {
  top: 22px;
}

.sandwich-btn span:nth-child(3) {
  top: 29px;
}

.sandwich-btn:hover span {
  width: 22px;
  right: 12px;
  background: #f65935;
}

.sandwich-btn.open span:nth-child(1) {
  top: 22px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.sandwich-btn.open span:nth-child(2) {
  opacity: 0;
  right: -10px;
}

.sandwich-btn.open span:nth-child(3) {
  top: 22px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.bottom-bar {
  width: 100%;
  height: 5px;
  background: #aaaec1;
  position: absolute;
  left: 0;
  bottom: -5px;
}


/* SANDWICH MENU */
.sandwich-menu {
  width: 400px;
  height: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 0;
  background: #57c6a1;
  z-index: 9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  padding: 30px 40px;
}

.sandwich-menu .logo {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

.sandwich-menu .logo img {
  height: 41px;
}

.sandwich-menu .nav-menu {
  display: none;
}

.sandwich-menu p {
  display: block;
  margin-bottom: 30px;
  color: #000000;
}

.sandwich-menu address {
  display: block;
}

.sandwich-menu address a {
  color: #000000;
  opacity: 0.7;
  text-decoration: underline;
}

.sandwich-menu .social-media {
  display: inline-block;
  margin-bottom: 40px;
  padding: 0;
}

.sandwich-menu .social-media li {
  float: left;
  margin-right: 16px;
  padding: 0;
  list-style: none;
}

.sandwich-menu .social-media li a {
  color: #000000;
  float: left;
  font-size: 12px;
}

.sandwich-menu .social-media li a:hover {
  opacity: 0.7;
}

.sandwich-menu .copyright {
  display: block;
  color: #000000;
  opacity: 0.7;
  font-size: 11px;
}

.sandwich-menu.open {
  left: 0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);
}

.sandwich-menu .nav-menu {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.sandwich-menu .nav-menu li {
  width: 100%;
  float: left;
  margin: 0;
  padding: 4px 0;
  list-style: none;
}

.sandwich-menu .nav-menu li a {
  width: 100%;
  float: left;
  color: #fff;
  font-weight: 600;
}

.sandwich-menu .nav-menu li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.sandwich-menu .nav-menu li .dropdown {
  display: none;
  margin: 0;
  padding-left: 20px;
}



@media all and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  .navbar .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px),
only screen and (max-device-width: 991px) {
  .sandwich-menu .nav-menu {
    display: block;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .sandwich-menu p {
    display: none;
  }

  .sandwich-menu address {
    display: none;
  }

  .sandwich-btn {
    display: block;
  }


}

/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px),
only screen and (max-device-width: 767px) {
  .sandwich-menu {
    width: 70vw;
    padding: 30px;
  }
}

.swiper-container {
  width: 80%;
height: 100%;
padding-bottom: 50px;

}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;

  /* Center slide text vertically */

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 70px;
  margin-bottom: 10px;
}

.swiper-slide div {
  color: #f79028;
  margin-bottom: 10px;
}

.swiper-slide p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.swiper-slide p>span {
  font-size: 2em;
  color: #57c6a1;
  position: relative;
  top: 0%;
  left: 0%;

}

.swiper-slide p strong {
  position: relative;
  font-size: 30px;
  top: 26px;
  right: 30px;
  color: #f65935;
  font-family: 'Dancing Script', cursive;
}

.contact_section div > div > h1{
  font-weight: 200;
  font-size: 40px;
  color: #292929;
  line-height: 60px;
}


.contact_section div > div > a{
  color: #f05a23;
font-weight: bold;
font-size: 3rem;
}
.contact_section div > .social_icon > div > img{
  display: inline;
}
.contact_section div > .social_icon > div > p{
  font-size: 1.5rem;
  display: inline;
} 

/* work_logo" */
.work_logo{
  background-color: #333;
}
.work_logo > div > img{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Footer Css */
.top_footer{
  padding: 30px 0;
  background-color: #222 ; 
}
.top_footer .title{
  font-size: 18px;
  color: #fff ;
  padding-bottom: 30px;
}

.top_footer .quick_link > ul {
  padding: 0 10px;
}
.top_footer .quick_link > ul > li {
  padding: 5px 0;
}
.top_footer .quick_link > ul > li > a{
  color: #CCC;
  font-size: 14px;
  font-weight: 400;
}
.top_footer .quick_link > ul > li > a:hover{
  color: #57c6a1;
 
}
.get-in-touch > address{
  padding-bottom: 10px;
  color: #CCC;
  font-weight: 400;
  
}
.get-in-touch > p{
  margin: 2px 5px;
  font-weight: 400;
  
}
.get-in-touch > p > a{
  color: #CCC;
}

.top_footer .socisl-icon{
  text-align: center;
}
.top_footer .socisl-icon > a{
  height: 40px ;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #57c6a1;
  margin: 0 10px 30px;
  border-radius: 50px;
  color: #57c6a1;
  font-size: 20px;
  transition: 0.5s;
}
.top_footer .socisl-icon > a:hover{
  background-color: #57c6a1;
  color: #263238;
}
.top_footer .img-card img{
  border-radius: 5px;
}

.bottom-footer{
  background-color: #000;
  text-align: center;
}
.bottom-footer p{
  color: rgba(255, 255, 255, 0.726);
  padding: 15px 0;
  margin: 0;

}


/* counter js */
.backgrount_color{
  background-color: #f3f3f3;
}
.count-box{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #57c6a1;
  cursor: pointer;
  transition: .5s;
  border: 2px solid #57c6a1;
}
.count-box:hover{
  box-shadow: 2px 3px 7px #57c6a1;
}
.count-box > div > span{
  font-size: 3rem;
  font-weight: 200;
  margin-left: 20px;
}
.count-box > div > div > span{
  font-size: 2rem;
}
.count-box > div > strong{
  font-size: 1rem;
  font-weight: 500;
}

/* Industries We Impact style start  */

.industries_wrap{
  align-items: center;
  text-align: center;
}

.industries_wrap .industries_item > div > div{
cursor: pointer;
text-align: center;
}
.industries_wrap .industries_item > div > div > div{
  border: 1px solid #57c6a1;
  height: 150px;  
  transition: .5s;
}
.industries_wrap .industries_item > div > div > div:hover{
border-radius: 10px;
  
}
.industries_wrap .industries_item > div > div > div h5{
padding: 10px 0;
font-size: 16px;
}
.industries_wrap .industries_item > div > div > div img{
  padding: 10px 0;
  }

  .industries_wrap .industries-img img{
    transition: .5s;
  }


/* Industries We Impact style End  */